/* Simple style menus */
/* HH colors:
#004985 HH1 dark blue
#006db0 HH2 blue
#22bbea HH3 bright blue
#96c0e3 HH4 light blue
#003366 HH Blackboard dark blue
*/
/*-- Menu level 1 not active -------------------------------------------------*/
.menu1-level1-no {
  margin-left: 5px;
  padding-left: 5px;;
  font-size: 100%;
  font-weight: bold;
}

/*-- Menu level 1 active -----------------------------------------------------*/
.menu1-level1-act {
  margin-left: 0%;
  padding-left: 10px;
  font-size: 100%;
  font-weight: bold;
 /* background-color: #006db0; /*#004985;*/
}

.menu1-level1-act a {
    color:  #004985; /*white;*/
}

.menu1-level1-act a:link a:visited {
    color: pink;
}

.menu1-level1-act a:hover a:active {
    color: #004985;
}

/*-- Menu level 1 spacer -----------------------------------------------------*/
.spacer {
  margin-left: 0%;
  padding-left: 0px;
  font-size: 100%;
}

/*-- Menu level 2 not active -------------------------------------------------*/
.menu1-level2-no {
  margin-left: 5%;
  padding-left: 5px;
  font-size: 100%;
  font-weight: normal;
 }

/*-- Menu level 2 active -----------------------------------------------------*/
.menu1-level2-act {
  margin-left: 5%;
  padding-left: 5px;
  font-size: 100%;
  font-weight: normal;
}

.menu1-level2-act a {
    color:  #004985; /*white;*/
}

/*-- Menu level 2 spacer -----------------------------------------------------*/
.spacer {
  margin-left: 5%;
  padding-left: 0px;
  font-size: 100%;
  font-weight: normal;
}

/*-- Menu level 3 not active  ------------------------------------------------*/
.menu1-level3-no {
  margin-left: 10%;
  padding-left: 5px;
  font-size: 90%;
  background-repeat: no-repeat;
}

/*-- Menu level 3 active -----------------------------------------------------*/
.menu1-level3-act {
  margin-left: 10%;
  padding-left: 5px;
  font-size: 90%;
  background-repeat: no-repeat;
}

/*-- Menu level 3 active -----------------------------------------------------*/
.spacer {
  margin-left: 10%;
  padding-left: 0px;
  font-size: 90%;
}
