/* Style sheet for dixon.hh.se/mikael */
/* HH colors:
#004985 HH1 dark blue
#006db0 HH2 blue
#22bbea HH3 bright blue
#96c0e3 HH4 light blue
#003366 HH Blackboard dark blue
*/

/*--Common ------------------------------------------------------------------*/
html,body {
  margin: 0;
  padding: 0;
}

body{
  font-family: verdana,arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  color: #333333; /* Default grey text */
  background-color: #ffffff;
/*  background-image: url(/mikael/images/topmenu_image_dark3.png);
  background-position: 0px 117px;
  background-size: auto 35px;
  background-repeat: repeat-x;*/
}

/*-------- Font ------------------------------------------------------------*/

/* Heading and paragraph styles */

h1 {
  margin-left: 0%;
  padding-left: 0px;
  font-size: 150%;
}
h2 {
  margin-left: 0%;
  padding-left: 0px;
  font-size: 130%;
}
h3 {
  margin-left: 0%;
  font-size: 115%;
  padding-left:0px;
}
h4 {
  margin-left: 0%;
  padding-left: 0px;
  font-size: 100%;
  font-style: normal;
}
h5 {
  margin-left: 0%;
  padding-left:0px;
  font-size: 50%;
}
h6 { margin-left: 0%;}

p {
  margin:0px 0px 0px 0px;
}

p.centered {
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}

/*-------- Common link styles ------------------------------------------------------*/

/* for unvisited links */
*:link { 
  color: rgb(0, 0, 0); 
  text-decoration: none; 
} 

/* for visited links */
*:visited { 
  color: rgb(0, 0, 0);
  text-decoration: none; 
  outline: none;
}     

/* when link is clicked */ 
a:active {                      
  color: rgb(255, 0, 102); 
  text-decoration: none; 
  outline: none;
} 

/* when mouse is over link */
a:hover { 
    color: #004985;
  text-decoration: none; 
} 

a {
/*  display: block;*/
  color: #333333; /* Default grey text */
}

a img { border: none; }

a.plain { 
    text-decoration: none;
}

/* Page setup ---------------------------------------------------------------*/

/*-- Container --------------------------------------------------------------*/
div#container { 
  min-width: 750px;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 10px;
  text-align: left;
  border: 0px ridge #96c0e3;
}

/*-- Header ----------------------------------------------------------------*/ 
div#header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  color: #004985;
  background-image: url(/images/einstein_field_eq2.png)
                   /*,url(/images/hh-logo-2013-eng.png)*/
                   ;
  background-position: 20px 0px,95% 13px;
  background-size: 500px, 210px;
  background-repeat: no-repeat, no-repeat;
  border-top: 0px solid #96c0e3;
  background-color: #ffffff;
/*  border-radius: 4px;
  box-shadow: 1px 1px 8px 1px #909090;*/
}

#header p {
  font-weight: normal;
  margin-top: 8px;
}

#header a {
  color: #333333;
  font-weight: bold;
}

#header a:hover {
    text-decoration: none;
    color: #004985;
} 

#header h1 {
  margin-top: 0px;
  margin-bottom: -5px;
  font-size: 150%;
}


/*-------- Top Menu --------------------------------------------------------*/
div#topmenu ul {
  height:30px;
  margin-top: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  border-top: 0px solid #96c0e3;
  border-bottom: 0px solid #96c0e3;
/*  border-left: 1px solid #004985;*/ /*#96c0e3;*/
  font-weight: bold;
  float: left;
  width: 100%;
  background-image: url(/images/topmenu_image_dark3.png);
  background-repeat: repeat-x;
  background-size: auto 32px;
}

#topmenu ul li { display: inline; }

#topmenu ul li a {
  padding: 0.64em 1em; /*0.7em 1em;*/
  margin-top: 0px;
  border-top: 0px solid #96c0e3;
  color:  #f0f0f0;
  text-shadow: 1px 1px #505050;
  float: left;
  border-right: 1px solid #004985 /*#96c0e3;*/
}

#topmenu ul li a:hover {
  background-image: url(/images/topmenu_image_hover.png);
  background-repeat: repeat-x;
  background-size: auto 30px;
  color: #ffffff;
  text-shadow: 1px 1px #505050;
  text-decoration: none;
}

#topmenu ul li a:active {
  background-image: url(/images/topmenu_image_hover.png);
  background-repeat: repeat-x;
  background-size: auto 30px;
  text-shadow: 1px 1px #686868;
  color: #ffffff;
}

/*-- Wrapper ---------------------------------------------------------------*/
div#wrapper {

  float: left;
  border-top: 0px solid #013a75;
 /* min-height: 500px;*/
  margin-bottom: 15px;
}

/*-- Menu -------------------------------------------------------------------*/ 
div#menu {
  position: absolute;  
  text-align: left;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px; 
  float: left;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  background: 	#f0f0f0;
  border-radius: 4px;
  box-shadow: 1px 1px 8px 1px #909090;
  text-shadow: 1px 1px #ffffff;
}

#menu a:hover {
    text-decoration: none;
}

/*-------- Content ---------------------------------------------------------*/ 
div#content { 
  text-align:left;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 150px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
  min-width: 50%;
  max-width: 100%;
  min-height: 450px;
  /* border-left: 1px solid #006db0;*/
}
   
#content a {
  color: #004985;
}

#content a:hover {
  text-decoration: none;
  color: #22bbea;
}

#content table {
  border: 2px solid #A0A0A0; /*#333333;*/
  width: 100%;
  border-collapse: collapse;
}
#content th, td {
  border: 1px solid  #A0A0A0; /*#333333;*/
  vertical-align: top;
  padding: 3px;
  text-align: left;
}

/*-- Footer ----------------------------------------------------------------*/ 
div#footer {
  font-size: 10px;
  clear: both;
  text-align: center;
  color: #333333;
  border-top: 1px solid #006db0;
  padding-top: 3px;
  padding-bottom: 5px;
}

#footer a {
  text-decoration: underline;
  color:  #333333;
}

#footer a:hover {
    color: #004985;
}

#footer p {
  margin-top: 4px;
  margin-bottom: 4px;
}

