<div id="header">
  <h1 style="color:#333333;">Mikael Hindgren</h1>
  <p style="color:#333333;">
    Associate Professor of Mathematics / Theoretical Physics, Ph.D. <br>
    Director of Studies
  </p>
  <p>
    <a href="http://www.hh.se">Halmstad University</a> |
    <a href="http://www.hh.se/ite">
    School of Information Technology (ITE)</a> 
  </p>
</div>
<div id="topmenu">
  <ul>
   <li><a href="/index.html">Home</a></li>
   <li><a href="http://hh.se/schema">Schedule</a></li>
   <li><a href="http://bb.hh.se">Blackboard</a></li>
   <li><a href="https://helpdesk.hh.se">Helpdesk</a></li>
   <li><a href="https://hh.se/information/sok-personal.html">Staff</a></li>
   <li><a href="/contact.html">Contact</a></li>
   <li><a href="/about.html">About</a></li>
  </ul>
</div>
